@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: "bold-f";
  margin: 0;
  padding: 0;
  src: url("fonts/bold.ttf");
}

@font-face {
  font-family: "regular-f";
  margin: 0;
  padding: 0;
  src: url("fonts/reg.ttf");
}

@media only screen and (max-width: 768px) {
  .ring {
    position: relative;
    width: 80vh !important;
    height: 80vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    height: 350px !important;
    width: 350px !important;
    transition: 0.5s;
    top: 10% !important;
    margin: 0 auto !important; 
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}
.ring {
  position: relative;
  width: 80vh !important;
  height: 80vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}



.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #fff;
  font-family: bold-f !important;
  text-align: center;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.login .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #8B008B, #4B0082);
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}

.egirl{
  color: rgba(255,255,255,.3);
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

.inputBx{
  font-family: regular-f !important;
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  margin: 8px; 
  input {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0d0d0;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
    
    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 6px;
      bottom: 4px;
      background-color: white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.25);
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
}

input:checked + .switch-slider {
  background-color: #8B008B;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
